@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

div {
  border-color: #EAE0FF;
}

.border-r-2 {
  border-color: #40375C;
}
.border-b-2 {
  border-color: #40375C;
}
.border-t {
  border-color: #40375C;
}
.chat-bubble {
  background: #270C60;
  color: #EAE0FF;
}

.chat-bubble.bg-base-200 {
  background: #c7fce2;
  color: #270C60;
}

input .input {
  background: #EAE0FF;
  color: #270C60;
}

.tabs.tabs-boxed {
  background: #100820;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.blur-effect {
  filter: blur(5px);
  pointer-events: none; 
}

.loading-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}